server:
  port: 8082

spring:
  application:
    name: rewards-service
  datasource:
    url: jdbc:postgresql://localhost:5434/rewards_db
    username: camilo
    password: ${DB_PASSWORD:fintech_password}
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  kafka:
    bootstrap-servers: localhost:9092
