spring:
  profiles:
    active: local
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false

  kafka:
    consumer:
      group-id: rewards-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
        spring.json.value.default.type: "com.camilonustes.fintech.rewards.event.PaymentConfirmedEvent"
        spring.json.use.type.headers: false

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: ${spring.application.name}